@model IEnumerable<StudentsCourseList.Models.StudentCoursesVM>

<h2>Students</h2>

<table class="table table-bordered">
    <thead>
        <tr>
            <th>Name</th>
            <th>Branch</th>
            <th>Course Count</th>
            <th>Course Titles</th>
            <th>Action</th>
        </tr>
    </thead>

    <tbody>
        @foreach (var s in Model)
        {
            <tr>
                <td>@s.Name</td>
                <td>@s.Branch</td>
                <td>@s.CourseCount</td>
                <td>@string.Join(", ", s.CourseTitles)</td>

                <td>
                    <a asp-controller="Enrollment"
                       asp-action="Details"
                       asp-route-studentId="@s.StudentId"
                       class="btn btn-primary btn-sm">
                        View Details
                    </a>
                </td>
            </tr>
        }
    </tbody>

</table>