@model StudentsCourseList.Models.StudentDetailVM

<h2>Student Details</h2>

<h4>@Model.Student.Name</h4>
<p>Branch: <b>@Model.Student.Branch</b></p>

<h3>Courses</h3>

<table class="table table-bordered">
    <thead>
        <tr>
            <th>Title</th>
            <th>Credits</th>
            <th>Department</th>
            <th>Latest Grade</th>
        </tr>
    </thead>

    <tbody>
        @foreach (var c in Model.Courses)
        {
            <tr>
                <td>@c.Title</td>
                <td>@c.Credits</td>
                <td>@c.Department</td>
                <td>@c.LatestGrade</td>
            </tr>
        }
    </tbody>

</table>

<br>

<a asp-controller="Enrollment"
   asp-action="Index"
   class="btn btn-secondary">
    Back to Students
</a>