@model MVC_Example.Models.EmpDeptViewModel;
@{
    ViewData["Title"] = "MixedObjectPassing";
}

<h1>MixedObjectPassing</h1>

<h2>@Model.date</h2>
<h3>Dept Details</h3>
<table border="1" cellpadding="2" cellspacing="3">
    <tr>
        <th>Dept ID</th>
        <th>Dept Name</th>
    </tr>
    @foreach(var dept in Model.deptlist)
    {
        <tr>
            <td>@dept.DeptID</td>
            <td>@dept.DeptName</td>
        </tr>
    }
</table>
<h3>Search Employee</h3>
<h1>@Model.emp</h1>
<div>
    <img src="@Model.emp.ImageUrl" alt="@Model.emp.EmpName" width="300" height="300" />
</div>

<div>
    <h2>Employee Details</h2>
    <p>The name of employee Nikhil Kumar. He is final year student working in Capgemini.</p>
    <h2>@Model.emp.Salary</h2>
    <h2><a asp-action="collectionOfObjectPassing">Back to List</a></h2>
</div>
