@model List<ResortBookingUI.MVC.Models.Resort>

@{
    ViewData["Title"] = "Resorts";
    var role = Context.Session.GetString("Role");
}

<h2>Resort List</h2>

@if (role == "Admin")
{
    <a class="btn btn-primary mb-3" asp-action="Create">Add Resort</a>
}

<table class="table table-bordered">
    <tr>
        <th>Image</th>
        <th>Name</th>
        <th>Location</th>
        <th>Price</th>
        <th>Capacity</th>
        <th>Actions</th>
    </tr>

    @foreach (var r in Model)
    {
        <tr>
            <td>
                <img src="@r.ResortImageUrl" width="100" height="70" style="object-fit:cover;" />
            </td>
            <td>@r.ResortName</td>
            <td>@r.ResortLocation</td>
            <td>@r.Price</td>
            <td>@r.Capacity</td>
            <td>
                <a class="btn btn-info" asp-action="Details" asp-route-id="@r.ResortId">View</a>

                @if (Context.Session.GetString("Role") == "Admin")
                {
                    <a class="btn btn-warning" asp-action="Edit" asp-route-id="@r.ResortId">Edit</a>
                    <a class="btn btn-danger" asp-action="Delete" asp-route-id="@r.ResortId">Delete</a>
                }

                @if (Context.Session.GetString("Role") == "Customer")
                {
                    <a class="btn btn-success"
                       asp-controller="Booking"
                       asp-action="Create"
                       asp-route-resortId="@r.ResortId">
                        Start Booking
                    </a>
                }
            </td>
        </tr>
    }
</table>